        * {margin: 0;padding: 0;border:0;text-decoration: none;outline: none;}
		li{list-style: none}
        .f12{font-size:12px!important}
        .f13{font-size:13px!important}
        .f14{font-size:14px!important}
        .fy12{font-size:12px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy14{font-size:14px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy16{font-size:16px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy18{font-size:18px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy20{font-size:20px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy24{font-size:24px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
        .fy30{font-size:30px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
		.fa18{font-size: 18px;!important;font-family: Arial;}
        .bold{font-weight:bold}
        .normal{font-weight:normal}
        .aaaaaa{color: #aaaaaa;}
        .ff6c00{color: #ff6c00;}
		.red{color: #ff0000!important;}
		.pull-left{float: left!important;}
		.pull-right{float: right!important;}
		.separate{margin: 0 5px;color: #cbcbcb;}
        h4{color: #4a4a4a;font-size: 14px;line-height: 30px;}
        h5{color: #4a4a4a;}
        /*header*/
        .head_container{width: 100%;padding-top: 1px;border-bottom: 1px solid #e6e6e6;height: 35px;background-color: #f3f3f3;}
            .user_status{width: 1164px;height: 34px;margin: 0 auto;color: #818181;line-height: 34px;}
                .users{float: left;border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;padding: 0 20px;}
                    .userscenter{float: left;cursor: pointer;}
                        .users span{float: left;}
                        .tri_gray{display: block;width: 8px;height: 5px;background-image: url(/img/register.png);background-repeat: no-repeat;bacground-position: 0 0;margin-top: 14px;margin-left: 5px;}
                    .exit{color: #818181;margin-left: 5px;cursor: pointer;float: left;line-height: 34px;display: block;background-color: transparent}
                .hnav{float: right;height: 34px;border-right: 1px solid #e6e6e6;}
                    .det_nav{padding: 0 10px;border-left: 1px solid #e6e6e6;height: 34px;float: left;position: relative;box-sizing: border-box;width: 83px;text-align: center}
                        .det_nav a{color: #818181;float: left;}
                        .det_nav a:hover{color: #ff6c00;}
                        .tri_black{display: block;width: 8px;height: 6px;background-image: url(/img/register.png);background-repeat: no-repeat;background-position: 0 -6px;margin-top: 14px;margin-left: 5px;float: left;}
						.fd{z-index: 99;display: none;padding: 0 10px 10px;background-color: white;width: 84px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: absolute;top: 34px;right: -1px;border: 1px solid #e6e6e6;border-top: 0;line-height: 22px;}
						.fdl{float: none!important;width: 50px;display: inline-block;line-height: 22px;text-align: left}
					.mouseon{background-color: white;}
					.mouseon .tri_black{background-position: 0 -12px;background-image: url("/img/b1.png")}
					.mouseon .fd{display: block}
					.qq{cursor: pointer}
        /*logo*/
        .message{height: 43px;width: 1164px;margin: 36px auto 0;}
            .logo{width: 107px;height: 43px;background-image: url(/img/logo_03.png);background-repeat: no-repeat;float: left;}
            .about_us{float: left;height: 43px;border-left: 1px solid #d9d9d9;margin-left: 11px;padding-left: 10px;}
                .welcome{line-height: 28px;}
        /*register content*/
        .content{width: 1190px;}
            .role_head{height: 46px;width: 100%;border-bottom: 1px solid #c4c4c4;position: relative;padding-right: 30px;box-sizing: border-box}
                .role{display: block;border: 1px solid #c4c4c4;width: 117px;height: 40px;position: absolute;color: #4b4b4b;cursor: pointer;line-height: 40px;text-align: center;background-color: #f6f6f6;}
                .role:hover{color: #ff6c00;}
                    .role span{border: 0;padding: 0 12px;}
					.tips-in{display: none;position: absolute;top: 5px;right: 6px;width: 12px;height: 12px;border: 1px solid #9b9b9b;border-radius: 6px;text-align: center;line-height: 10px;font-size: 10px;color: #9b9b9b}
                		.tip-dets{position: absolute;bottom: 10px;left: -26px}
						.tip-dets p{height: 28px;line-height: 28px;background-color: #ffa115;color: white;border-radius: 3px;}
						.tip-dets img{float: left;margin-left: 36px}
				.selected .tips-in{display: block}
				.seller{left: 47px;bottom: -1px;}
				.seller .tip-dets p{width: 264px;}
                .factory{left: 179px;bottom: -1px;}
				.factory .tip-dets p{width: 338px;}
                .server{left: 313px;bottom: -1px;}
				.server .tip-dets p{width: 248px;}
				.stores{left: 445px;bottom: -1px;}
				.stores .tip-dets p{width: 329px;}
                .selected{height: 46px!important;color: #ff6c00;border-bottom: 1px solid white!important;background-color: white;}
                    .selected span{border-bottom: 3px solid #ff6c00;padding-bottom: 5px;}
                .contact{float: right;line-height: 22px;height: 22px;margin:12px 10px 0 10px;color: #737373;}
                    .contact p{float: left;margin-right: 9px;}
					.contact span{position: relative;top: 2px;}
                    .qqnumber{background-image: url(/img/register.png);background-repeat: no-repeat;background-position: -146px 0;width: 92px;height: 22px;float: right;cursor: pointer;}
        /*注册容器模块和公用*/
		.module{width: 1190px;border: 1px solid #c4c4c4;border-top: 0;overflow: hidden}
        .reg-form{width: 751px;border-right: 1px solid #c4c4c4;float: left;padding-top: 48px;padding-bottom: 36px;}
		input.error{padding: 0 0 0 6px;!important;border: 2px solid red!important;}
		label.error{color: red;font-size: 12px;position: absolute;right: 0;bottom: 15px;line-height: 14px}
        .protocol label.error{bottom: 10px!important;left: 240px!important;width: 150px;}
		.ad_right{}
        /*采购商注册css*/
        .detail_sel{display: block;}
            #user_form{}
                .det_message{float: left;position: relative;box-sizing: border-box;padding-bottom: 33px}
                    .det_message span{color: #9c9c9c;line-height: 35px;}
                    .must{color: #ff6c00!important;margin-right: 5px;}
                    .input{width: 297px;height: 35px;padding: 1px 1px 1px 7px;border: 1px solid #c4c4c4;margin-left: 18px;font-size: 14px;}
                    .input_img{position: absolute;width: 22px;height: 24px;top: 7px;right: 4px;background-image: url(/img/register.png);background-repeat: no-repeat;}
                    .left-contain{width: 174px;;text-align: right}
					.name_back{background-position: -146px -23px;}
                    .pass_back{background-position: -169px -23px;}
                    .phone_back{background-position: -192px -23px;}
                    input.focusing{padding: 0 0 0 6px;!important;border: 2px solid #ff6c00!important;}
                    .check_num{color: #0072ff!important;background-color: transparent;height: 39px;line-height: 39px;width: 66px;cursor: pointer;position: absolute;right: -70px;text-align: center;}
                .reminder{display: none;width: 490px;box-sizing: border-box;text-align: right;line-height: 30px;text-align: right;color: #999999;position: absolute;right: 0;bottom: 5px;}
                .invalid{color: #ff2a00!important;font-size: 13px;line-height: 34px;}
                    .reminder span{color: white;background-color: #c4c4c4;padding: 2px 8px;line-height: 30px;}
                    .strength{background-color: #ff6c00!important;}                
                .store{float: left;margin-top: 10px;margin-bottom: 15px;}
                    .store span{color: #9c9c9c;line-height: 39px;}
                    .chebox{margin-left: 18px;float: left;width: 424px;color: #737373;position: relative}
                        .sto{float: left;margin-right: 16px;font-size: 14px;height: 35px;line-height: 35px;width: 90px;}
                        .secsto{float: left;margin-right: 24px;font-size: 14px;height: 35px;line-height: 35px;}
                            .checkbox{margin-right: 6px;}
                        .others{border: 1px solid #c4c4c4;width: 154px;height: 26px!important;margin-top: 3px;line-height: 26px;padding-left: 5px;}
						.last-netsto{position: relative;left: -48px;}
                .coding{float: left;}
                    .coding span{color: #9c9c9c;line-height: 39px;}
					.pad-top40{padding-top: 40px}
                    .code_agree{margin-left: 18px;overflow: hidden;float: left;position: relative}
                        .code{width: 144px!important;float: left!important;margin-right: 6px!important;margin-left: 0!important;}
                        .coder{width: 120px;height: 39px;background-color: #d3d3d3;float: left;color: white;line-height: 39px;text-align: center;}
						.other-code{color: #9d9d9d;font-size: 12px;line-height: 39px;cursor: pointer;margin-left: 15px;}
						.other-code:hover{color: #ff6c00}
						.auth-ok{display: inline-block;margin-left: 10px;line-height: 39px;width: 80px;right: -90px;position: absolute;top: 0;}
						.auth-ok img{position: relative;top: 3px;}
                        .phone-ok{display: inline-block;margin-left: 10px;line-height: 39px;width: 80px;right: -90px;position: absolute;top: 0;}
                        .phone-ok img{position: relative;top: 3px;}
                        .email-ok{display: inline-block;margin-left: 10px;line-height: 39px;width: 80px;right: -90px;position: absolute;top: 0;}
                        .email-ok img{position: relative;top: 3px;}
                        .addr-ok{display: inline-block;margin-left: 10px;line-height: 39px;width: 80px;right: -90px;position: absolute;top: 0;}
                        .addr-ok img{position: relative;top: 3px;}
                        .protocol{color: #9c9c9c;float: left;line-height: 34px;clear: left;position: relative}
                        .protocol input{position: relative;top: 2px;}
                        .protocol-det{cursor: pointer;color: #5a77ba;}
                        .protocol-det:hover{text-decoration: underline}
					.code_agree .input{margin-bottom: 20px}
					.code_agree label.error{left: 0;bottom: 35px;}
                .submit{display: block;width: 133px;height: 43px;color: white;background-image: url(/img/register.png);background-repeat: no-repeat;background-position: -239px 0;margin-left: 192px;cursor: pointer;clear: both;border-radius: 4px;}
                .p1{color: #494949;margin: 2px 0;text-align: center}
                .p2{color: #737373;margin: 2px 0;}
                .p3{color: #737373;margin: 2px 0;}
				.text-center{text-align: center}
                .p4{color: #737373;line-height: 40px;}
				.ad_sel{width: 437px;border-left: 5px solid #f5f5f5;float: left;height: 789px;padding: 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
				.slider{padding-bottom: 20px;box-sizing: content-box;width: 372px;}
				.slider ul li{}
				.dots{height: 10px;padding-left: 150px}
				.dots .dot{width: 10px;height: 10px;background-color: #c4c4c4;border-radius: 5px;float: left;color: #c4c4c4;overflow: hidden;margin-right: 15px;cursor: pointer;}
				.dots li.active{background-color: #ff6c00;color: #ff6c00}

		/*供应商注册css*/
        .detail_fac{display: none;}
            #fac_form{padding-top: 18px;}
				.fac-title{clear: both;color: #4a4a4a;width: 600px;margin: 0 auto;border-bottom: 1px solid #d6d6d6;margin-bottom: 33px;padding-bottom: 11px;padding-left: 32px;padding-top: 30px}
				.line{width: 525px;border-top: 1px solid #d6d6d6;margin: 4px 30px 38px 30px;float: right;}
                .con_fac{width: 565px;float: right;color: #9c9c9c;padding-left: 20px;}
                    .contacter{width: 265px;float: left;height: 39px;position: relative;}
                        .contacter span{line-height: 39px;float: right;}
                        .con{width: 152px!important;}
						.addr-title{margin-left: 18px;}
						.addr-input{width: 236px!important;margin-left: 0!important;}
						.addr-tips{color: #9c9c9c;line-height: 20px;padding-left: 188px}
                    .con_rem{width: 265px;float: left;color: #999999;height: 30px;line-height: 30px;text-align: right;}
                .second{color: #0072ff;font-size: 12px;padding-left: 45px;line-height: 12px;float: left;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
                .fac_attr{width: 174px;text-align: right}
					.worker-number{margin-left: 18px;width: 129px;height: 19px;border: 1px solid #c4c4c4;margin-top: 10px}
                    .agency{width: auto!important;position: relative}
                    .agency label.error{bottom: 10px!important;left: auto;right: -60px;}
                        .sell-protocol{color: #5a77ba;cursor: pointer}
                        .sell-protocol:hover{text-decoration: underline}
                .sub_aud{clear: both;width: 100%;overflow: hidden}
                    .sub_aud p{color: #9b9b9b;float: left;line-height: 21px;margin-left: 15px;}
                    .audit{float: left;}
		.ad_fac{width: 437px;border-left: 5px solid #f5f5f5;float: left;height: 1562px;padding: 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

		/*服务商注册css*/
        .detail_ser{display: none;}
            #ser_form{padding-top: 18px}
			.radio-role{width: 297px;float: left;margin-left: 18px}
			.drop-radio{margin-left: 0px}
			.photo-radio{margin-left: 70px}
                .ser_role{width: 110px!important;}
            .sub_sta{clear: both;padding-top: 10px;width: 100%}
                .state{color: #737373;font-size: 12px;padding-left: 120px;line-height: 20px;}
                    .sub_sta div{margin-left: 120px;height: 40px!important;line-height: 40px;}
					.auth-data{margin-left: 10px;cursor: pointer}
					.auth-data:hover{color: #ff6c00;}
		.ad_ser{width: 437px;border-left: 5px solid #f5f5f5;float: left;height: 1163px;padding: 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

		/*实体店主注册css*/
		.detail_sto{display: none}
		#sto_form{padding-top: 18px}
		.main-product .sto{width: auto;margin-right: 20px}
		.price-tips{float: left;margin-left: 18px}
		.ad_sto{width: 437px;border-left: 5px solid #f5f5f5;float: left;height: 1449px;padding: 30px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

		/*footer*/
        footer{margin: 90px auto 0;border-top: 1px solid #dbdbdb;width: 1190px;height: 130px;color: #989898;padding-top: 18px;}
            .fnav{height: 32px;line-height: 32px;text-align: center;}
                .flink{color: #989898;}
                .flink:hover{color: #ff6c00;}
                .fqq{background-image: url(/img/register.png);background-repeat: no-repeat;background-position: -146px 0;width: 92px;height: 22px;cursor: pointer;display: inline-block;position: relative;top: 5px;margin-right: 10px;}
                .deep{color: #7c7c7c;margin-left: 10px;}
		.btn-mail{  display: inline-block;height: 22px;position: relative;top: 6px;}
        /*弹窗协议*/
        .back-tran{display: none;opacity: 0.5;z-index: 1040;position: fixed;top: 0;right: 0;left: 0;bottom: 0;background-color: #000;}
        .modal{display: none;overflow-x: hidden;overflow-y: auto;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1050;background: transparent;}
        .add-content{width: 810px;background-color: white;margin: 30px auto;padding: 0 20px 20px;}
        .modal-head{position: relative;border-bottom: 1px solid #c4c4c4}
        .closebtn{position: absolute;right: 0;top: 15px;width: 26px;height: 26px;border-radius: 13px;border: 1px solid #ff6c00;color: #ff6c00;background-color: transparent;font-size: 35px;line-height: 26px;text-align: center;cursor: pointer}
        .add-titles{line-height: 57px;padding-left: 5px;color: black}
        .modal-contents{border-top: 5px solid #f1f1f1;padding-left: 5px;border-bottom: 5px solid #f1f1f1;padding-bottom: 15px;}
        .md-title{color: #4a4a4a;line-height: 44px}
        .det-con{color: #666;line-height: 22px;}
        .modal-footers{border-top: 1px solid #c4c4c4;padding-top: 21px}
        .sure-btn{background-image:url("/img/agree-btn.jpg");width: 202px;height: 46px;color: white;padding-left: 10px;margin: 0 auto;cursor: pointer;display: block;}
        .sure-btn span{position: relative;top: -3px;}

