@charset "utf-8";
/*二级导航*/
.sub-nav{width: 1190px;height: 36px;overflow: hidden;margin: 15px auto 0;}
.sub-link{display: block;float: left;line-height: 36px;padding: 0 10px;font-size: 17px;font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei";font-weight: bold;}

