@charset "utf-8";
/*二级导航栏目*/
.t5{}
.t5 ul{overflow: hidden;}
.second-nav{float: left;line-height: 50px;margin-right: 20px;}
.rank-box{padding-left: 10px;}
.second-nav a{padding: 0 15px;}
.rankall{padding: 0 5px;text-align: center;}
/*产品展示*/
.pro-show{margin-top: 15px;overflow: hidden;}
.list{width:220px;height: 331px;border: 1px solid #e3e3e3;margin-right: 20px;margin-bottom: 23px;float: left;}
.list:hover{border-color: #ff6c00;}
.list-end{margin-right: 0;}
.pro-img{display: block;}
.pro-img img{display: block;width: 220px;height: 220px;}
.list01{line-height: 40px;color: #ff6c00;padding: 0 12px;}
.list02{height:40px;line-height: 20px;overflow: hidden;color: #a8a8a8;padding: 0 12px;}
.list03{padding: 0 12px;overflow: hidden;margin-top: 5px;}
.art-no{display: block;float: left;border: 1px solid #ff6c00;}
.factory{display: block;background-color: #ff6c00;color: #fff;float: left;height: 14px;line-height: 14px;padding: 0 2px;}
.pro-number{display: block;background-color: #fff;color: #ff6c00;float: left;height: 14px;line-height: 14px;padding: 0 2px;}
.auth-icon{}
.auth-icon img{display: block;margin-left: 2px;float: left;}


