/* public */
body{margin:0 auto;padding:0; width:100%; height:auto; background:#f5f5f5 url(/images/unique/bg_01.jpg) repeat-x;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
a {text-decoration: none;}

/*layout*/
.block{display:block}
.hidden{display:none}
.clear{clear:both!important}

/* font */
.f12{font-size:12px!important}
.f14{font-size:14px!important}
.fy12{font-size:12px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.fy14{font-size:14px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.fy16{font-size:16px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.fy18{font-size:18px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.fy30{font-size:30px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.bold{font-weight:bold}
.normal{font-weight:normal}
.font_none{font-size:0px; line-height:0px}
.2c2c2c{color:#2c2c2c;}
.6a6a6a{color:#6a6a6a;}
.float_r{float:right;}

/* top */
/*
.t1 {width:1195px; height:37px; margin:0 auto; line-height:37px; text-align:right; overflow:hidden;}
.t1 a{color:#2c2c2c; text-decoration:none;}
.t1 a:hover{color:#2c2c2c; text-decoration:underline;}
.t1 a:visted{color:#2c2c2c; text-decoration:none;}
.t2 {width:1195px; height:67px; margin:0 auto; background:#2c2c2c; padding:0 123px; overflow:hidden;}
.t2 li{width:auto; height:67px; line-height:74px; float:left; color:#FFF; border-right:1px #565656 solid; padding:0 22px;}
.t2 a{color:#FFF; text-decoration:none;}
.t2 a:hover{color:#FFF; text-decoration:none;}
.t2 a:visted{color:#FFF; text-decoration:none;}
.t2 .login a{color:#FFF; text-decoration:none;}
.t2 .login a:hover{color:#ff7e00; text-decoration:none;}
.t2 .login a:visted{color:#ff7e00; text-decoration:none;}
*/
/* top */
.t1 {width:1195px; height:37px; margin:0 auto; line-height:37px; text-align:right;}
.clientmsg {width: 100%;border: 1px solid #bbbbbb; border-top: 0px; clear: left; background: #F5F5F5; position: relative; z-index: 4;}	
.clientdet {display: block; text-align: left; padding-left: 10px;}
.clientdet:hover {background: white; color: #ff6000;}
.t1 a{color:#2c2c2c; text-decoration:none;}
.t1 a:hover{color:#2c2c2c; text-decoration:underline;}
.t1 a:visted{color:#2c2c2c; text-decoration:none;}
.t2 {width:100%; height:67px; margin:0 auto; background:#2c2c2c; overflow:hidden;}
.t2 ul {width: 1195px; margin: 0 auto;}
.t2 li{width:auto; height:67px; line-height:74px; float:left; color:#FFF; border-right:1px #565656 solid; padding:0 22px;}
.t2 a{color:#FFF; text-decoration:none;}
.t2 a:hover{color:#FFF; text-decoration:none;}
.t2 a:visted{color:#FFF; text-decoration:none;}
.t2 .login a{color:#FFF; text-decoration:none;}
.t2 .login a:hover{color:#ff7e00; text-decoration:underline;}
.t2 .login a:visted{color:#ff7e00; text-decoration:none;}

.t3 {width:1195px; height:41px; line-height:41px; margin:14px auto 19px auto;}
.t3 li{width:auto; height:41px; line-height:41px; float:left; padding:0 7px; float:left;}
.t3 .search_bg{width:270px; height:42px; background:url(/images/img/search_bg.jpg) no-repeat; border:none; padding:0 10px; color:#a5a5a5; font-size:14px!important;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei"; line-height:42px;}
.t3 .search_btu{width:82px; height:42px; background:url(/images/img/search_btu.jpg) no-repeat; border:none; padding:0;}
.t3 a{color:#6a6a6a; text-decoration:none;}
.t3 a:hover{color:#ff7e00; text-decoration:underline;}
.t3 a:visted{color:#6a6a6a; text-decoration:none;}
.t3 .search{width:372px; height:41px; margin-right:10px; float:left;}
.t3 .hotkey{width:406px; height:41px; overflow:hidden; float:left;}
.t3 .flyd{width:406px; height:41px; overflow:hidden; float:left;}

.t4 {width:1195px; height:135px; overflow:hidden; margin:0 auto;}
.t4 li{float:left;}
.slider {position: absolute; height: 135px; width: 240px; overflow: hidden; position: relative;}
.t4_sr {display: none; cursor: pointer; border: 0px; margin: 0px; padding: 0px; height: 35px; width: 15px; position: absolute;top: 50px; right: 0px; z-index: 3;}
.t4_sl {display: none; cursor: pointer; border: 0px; margin: 0px; padding: 0px; height: 35px; width: 15px; position: absolute;top: 50px; left: 0px; z-index: 3;}	
.t4_sl img {height: 100%; width: 100%;}
.t4_sr img {height: 100%; width: 100%;}
.sale {display: inline-block; height: 135px; position: relative;}
.adver {width: 240px; height: 135px; float: left;}
.sale img {height: 135px; width: 240px;}		

.t5 {width:1195px; height:42px; overflow:hidden; margin:30px auto 0 auto;}
.t5 li{width:auto; height:39px; line-height:39px; margin-right:38px; padding:0 1px; float:left;}
.t5 a{color:#6a6a6a; text-decoration:none;}
.t5 a:hover{color:#ff6000; text-decoration:none;}
.t5 a:visted{color:#6a6a6a; text-decoration:none;}
.t5 .active{border-bottom:3px #ff6000 solid; background:url(/images/img/icon01.jpg) no-repeat; padding-left:16px; background-position:1px 13px;}
.t5 .active a{color:#ff6000;}
.action, .selected {background-color:#ff7e00;}

/* list */
.attrback {padding-top: 13px; background: #F5F5F5; border-top: 3px solid #eeeeee;}
.Attribute {width:1195px;height:auto; margin:0px auto 0px;}
.selected {overflow: hidden;}
.seltitle {color: #909090; float: left; font-size: 13px; line-height: 24px;}
.selectattr {text-decoration: none; float: left; height: 18px; margin: 3px; padding: 0px 3px; background: #FF6600; font-size: 13px;}
.selectattr p {line-height: 18px; float: left; margin-right: 5px; color: white;}
.selectattr img {height: 18px;  float: right;}	
.attrchoose {margin-top:5px; width: 1193px;border:1px solid #d3d3d3; border-top: 3px solid #ff6000; background: white;}	
.hotsearch {height: 34px; width: 1193px;border:1px solid #d3d3d3; border-top: 0px; background: white;}
.hotlink {position: relative; top: 5px; height: 24px; line-height: 24px; font-size: 13px; color: #909090; margin:0px 5px;}
.hotlink:hover {color: #ff6000;}
.attrtitle {padding-right: 10px; border-right: 1px solid #ff6000; margin: 9px 10px; color: #FF6600; font-size: 13px; float: left; line-height: 16px;}
.attrkind {height: 24px; line-height: 24px; margin: 5px 0px 5px}
.choose {text-indent: 5px; cursor: pointer; height: 22px; color: #909090; float: left; position: relative; font-size: 13px; border: 1px solid transparent; line-height: 22px; overflow: hidden;}
.choose:hover {cursor: pointer; height: 22px; float: left; position: relative; border: 1px solid #C8C8C8; font-size: 13px; line-height: 22px; background: #fff; overflow: visible;}	
.pullcon {width: 100%; cursor: pointer; background: white; border: 1px solid #C8C8C8; position: relative; right: 1px; z-index: 2;}
.para {text-decoration: none; display: block; width: 100%; height: 20px; line-height: 20px; font-size: 13px; color: #909090; font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";}
.para:hover {background: #F0F0F0; color: #FF6600;}
.pulldown {height: 10px; width: 15px;position: relative; right: 5px;}
.selecter {cursor: pointer; width: 100%;height: 100%; opacity:0; filter: alpha(opacity=0); position: absolute; top: 0px; left: 0px;z-index: 3;}
.rank {margin: 5px 0px; height: 24px; background: white; border: 1px solid #FF6600;}
.rankall {font-size: 13px; line-height: 24px; border-right: 1px solid #A3A3A3; padding: 0px 10px 0px 10px; float: left; height: 24px; color: white; background-color: #ff6000;}
.rankall:hover {color: white!important; background-color: #ff6000!important;}
.rankdet {font-size: 13px; line-height: 24px; border-right: 1px solid #A3A3A3; padding: 0px 22px 0px 10px; float: left; height: 24px; color: black; background-image: url(/images/unique/attr_rank_02.png); background-repeat: no-repeat; background-position: 38px center;}
.rankdet:hover {background-color: #ff6000!important; color: #ffffff!important; background-image: url(/images/unique/attr_rank_03.png)!important;}	

/*l1*/
.l1 {width:1195px; height:auto; overflow:hidden; margin:0 auto; border-top:1px #d3d3d3 solid; margin-top:10px; background:#FFF;}
.l1 .list{width:160px; height:278px; border-left:1px #d3d3d3 solid; border-bottom:1px #d3d3d3 solid; padding:0px 19px; float:left; position:relative;}
.l1 .list_end{border-right:1px #d3d3d3 solid;}
.l1 .list li{float:left;}
.list01{width:160px; height:36px; line-height:36px;}
.list01 a{color:#222222; text-decoration:none;}
.list01 a:hover{color:#ff4e00; text-decoration:none;}
.list01 a:visted{color:#222222; text-decoration:none;}
.list02{width:160px; height:40px; overflow:hidden; line-height:21px; padding:6px 0px; color:#848484; }
.list03{width:84px; height:18px; line-height:18px; color:#6a9b00; font-family:Arial, Helvetica, sans-serif;}
.list04{width:76px; height:18px; text-align:right;}
.list04 img{margin-left:1px;}
.l1 .list_ad {width:198px; height:278px; border-left:1px #d3d3d3 solid; border-bottom:1px #d3d3d3 solid; float:left;}
.l1_icon {width:43px; height:43px; left:155px; top:0px; position:absolute; background:url(/images/img/icon09.png) no-repeat;}

/* logo_list */
.logo_list {width:1193px; height:128px; margin:10px auto; border:1px solid #d3d3d3; background:#FFF}
.logo_list li{width:88px; height:31px; margin:9px; float:left;}
.logo_list .change{width:1193px; height:30px; margin:0; text-align:center;}

/*Banner*/
.banner01 {width:100%; height:260px; background:#f5f5f5; margin:25px auto;text-align: center;}
.banner02 {width:100%; height:260px; background:#f5f5f5; margin:25px auto;text-align: center;}

/* list concentratio */
.l2 {position: relative; width:1195px; height:30px; border-bottom:3px #ff3c3c solid; margin:0 auto;}
.l2 a{color:#2c2c2c; text-decoration:none;}
.l2 a:hover{color:#ff3c3c; text-decoration:underline;}
.l2 a:visted{color:#2c2c2c; text-decoration:none;}
.l2 li{float:left; line-height:30px;}
.l2_sl {cursor:pointer; border: 0px; margin: 0px; padding: 0px; height: 40px; width: 20px; position: absolute;top: 350px; left: -20px;}
.l2_sr {cursor:pointer; border: 0px; margin: 0px; padding: 0px; height: 40px; width: 20px; position: absolute;top: 350px; right: -20px;}
.l2_sl img {height: 100%; width: 100%;}
.l2_sr img {height: 100%; width: 100%;}
.l2_all {width:1195px; height:658px; background:#FFF; margin:0 auto; clear:left!important; overflow: hidden; position: relative;}
.l2_bigback {overflow: hidden; width: 3585px; height: 658px; position: relative;}
.l2_slide {width: 1195px; height: 658px; float: left;}	
.l2_l {width:597px; height:438px; float:left; overflow:hidden;}
.l2_tb {width:162px; height:182px; border-left:1px #d3d3d3 solid; line-height:25px; border-bottom:1px #d3d3d3 solid; padding:18px; float:left;}
.l2_tb_end {border-right:1px #d3d3d3 solid;}
.l2_m {width:198px; height:437px; position: relative; border-left:1px #d3d3d3 solid; border-bottom:1px #d3d3d3 solid; float:left; overflow:hidden;}
.onclick {padding: 12px 72px; height: 12px; width: 196px; position: absolute; bottom: 20px; z-index: 3;}
.on {border: 1px solid red; background: red;}
.off {border: 1px solid gray; background: transparent;}
.click {margin: 0px 4px; float: left; height: 10px; width: 10px; border-radius: 6px;}
.starslide {position: relative; width: 594px; height: 437px;}
.star {width:198px; height:437px; float: left;position: relative;}
.star img {width:198px; height:437px;}
.l2_r {width:399px; height:438px; float:left; overflow:hidden;}
.l2_f {width:1195px; height:219px; float:left; overflow:hidden;}

/* list discovery */
.l3 {width:1195px; height:30px; border-bottom:3px #ff583c solid; margin:25px auto 0 auto;}
.l3 a{color:#2c2c2c; text-decoration:none;}
.l3 a:hover{color:#ff3c3c; text-decoration:underline;}
.l3 a:visted{color:#2c2c2c; text-decoration:none;}
.l3 li{float:left; line-height:30px;}
.l3_all{width:1195px; height:509px; border:1px #d3d3d3 solid; background:#FFF; margin:0 auto; clear:left!important;}
.l3_ad{width:198px; height:509px; float:left; overflow:hidden;}
.l3_ad_t{width:198px; height:400px; float:left;}
.l3_ad_f{width:182px; height:99px; padding:5px 8px; float:left;}
.l3_ad_f li{width:88px; height:31px; overflow:hidden; float:left;}
.l3_ad_f_m {margin-top:3px; margin-bottom:3px;}
.l3_ad_f_r {margin-right:6px;}
.l3_list{width:311px; height:489px; padding:10px; float:left;}
.l3_list_m {width:313px; border-right:1px #d3d3d3 solid; border-left:1px #d3d3d3 solid;}
.l3_list_r {background:#fff2f0;}
.l3_list_t {width:311px; height:22px;}
.l3_list_t a{color:#2c2c2c; text-decoration:none;}
.l3_list_t a:hover{color:#ff583c; text-decoration:underline;}
.l3_list_t a:visted{color:#2c2c2c; text-decoration:none;}
.l3_list_t li{float:left; height:22px; line-height:22px;}
.l3_list_b {width:307px; height:120px; padding:17px 2px;}
.l3_list_b_m {border-top:1px #d3d3d3 solid; border-bottom:1px #d3d3d3 solid;}
.l3_list_b_p{width:117px; height:117px; overflow:hidden; float:left;}
.l3_list_b_b{width:180px; height:117px; margin-left:10px; overflow:hidden; float:left;}
.l3_list_b_b_list01{width:180px; height:36px; line-height:36px;}
.l3_list_b_b_list01 a{color:#222222; text-decoration:none;}
.l3_list_b_b_list01 a:hover{color:#ff4e00; text-decoration:none;}
.l3_list_b_b_list01 a:visted{color:#222222; text-decoration:none;}
.l3_list_b_b_list02{width:180px; height:52px; line-height:20px; color:#848484;}
.l3_list_b_b_list03{width:180px; height:18px; line-height:18px; color:#6a9b00; font-family:Arial, Helvetica, sans-serif;}

/* list other */
.l4 {width:1195px; height:30px; border-bottom:3px #ff7c3c solid; margin:25px auto 0 auto;}
.l4 a{color:#2c2c2c; text-decoration:none;}
.l4 a:hover{color:#ff7c3c; text-decoration:underline;}
.l4 a:visted{color:#2c2c2c; text-decoration:none;}
.l4 li{float:left; line-height:30px;}

/* changge page */
/*
.changepage {width: 1195px; height: 30px; padding: 10px 0px; border-top: 2px solid #C8C8C8; margin: 20px auto 0px;}
.pagebut {text-decoration:none; background: white; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8; color: #909090;}
.pagebut:hover {border: 1px solid #FF6600; color: #FF6600;}
.pageon {text-decoration:none; color: white; background: #FF6600; border: 1px solid #FF6600; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8;}	
.pagenum {color: black; text-decoration:none; background: white; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8;}	
.pagenum:visited {color: black;} 	
.pagenum:hover {border: 1px solid #FF6600; color: #FF6600;}	
.changepage p { height: 30px; line-height: 30px; float: left;}
.jumppage {float: left;}
.page_text {text-align: center; width: 40px; height: 28px; line-height: 28px; background: white; border: 1px solid #C8C8C8;font-size: 16px;}	
.sure {padding: 0px 5px; font-size: 16px; width: 50px; height: 30px; line-height: 28px; background: white; border: 1px solid #C8C8C8;}
*/
/* changge page */
.changepage {clear: left; width: 1195px; height: 30px; padding: 10px 0px; margin: 20px auto 0px;}
.pagebut {text-decoration:none; background: white; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8; color: #909090;}
.pagebut:hover {border: 1px solid #FF6600; color: #FF6600;}
.pageon {text-decoration:none; color: white; background: #FF6600; border: 1px solid #FF6600; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8;}	
.pagenum {color: black; text-decoration:none; background: white; margin: 0px 3px; padding: 0px 10px; height: 28px; line-height: 28px; float: left; border: 1px solid #C8C8C8;}	
.pagenum:visited {color: black;} 	
.pagenum:hover {border: 1px solid #FF6600; color: #FF6600;}	
.changepage p { height: 30px; line-height: 30px; float: left;}
.jumppage {float: left;}
.page {text-align: center; width: 40px; height: 28px; line-height: 28px; background: white; border: 1px solid #C8C8C8;font-size: 16px;}	
.sure {padding: 0px 5px; font-size: 16px; width: 50px; height: 30px; line-height: 28px; background: white; border: 1px solid #C8C8C8;}



/* Footer */
.footer {width:100%; height:170px; padding:15px 0px; margin-top:30px; background:#616161;}
.footer_b {width:1195px; height:170px; margin:0 auto; overflow:hidden;}
.footer_b_l {width:760px; height:170px; border-right:1px #FFF solid; overflow:hidden; float:left;color:#d4d4d4;}
.footer_b_l_list {width:122px; height:170px; margin:0 15px; float:left;}
.footer_b_l_list li{width:122px; height:34px; line-height:34px;}
.footer_b_l_list a{color:#d4d4d4; text-decoration:none;}
.footer_b_l_list a:hover{color:#fff; text-decoration:none;}
.footer_b_l_list a:visted{color:#d4d4d4; text-decoration:none;}
.footer_b_r {width:354px; height:148px; padding:11px 40px; float:left;}
.footer_b_r_p {width:120px; height:120px; float:left;}
.footer_b_r_phone {width:219px; height:120px; margin-left:15px; float:left;}
.footer_b_r_phone li{width:234px; height:24px; color:#d4d4d4;}
.bottom {width:100%; height:60px; margin:0px auto; padding:10px 0px; background:#FFF;}
.bottom li{width:1195px; color:#6a6a6a; height:30px; line-height:30px; margin:0 auto; text-align:center;}
.bottom a{color:#6a6a6a; text-decoration:none;}
.bottom a:hover{color:#6a6a6a; text-decoration:underline;}
.bottom a:visted{color:#6a6a6a; text-decoration:none;}

.ribbon-block {  display: inline-block;    position: relative; }
#vl { display: block; top: 0px; left: 0px; width:290px; position:absolute;z-index: 5 }
.suginner { width:100%; position:absolute; }
.suglist { list-style-type:none; width:100%; background:#F8F8F8; overflow:hidden; color:#909090; padding:0px; }
.suglist li { font-family: arial;cursor:pointer;box-sizing:border-box;width:100%;padding:0px 10px;height: 30px;line-height:30px; }
.suglist li:hover { background:#E8E8E8; color:#ff6000; }
#sugc { display: none; }
