#newsindex{float:right;margin-right:10px;background: url(/images/news_icon.gif) no-repeat;padding-bottom:3px;padding-top:1px;padding-left:30px;}
#corptopbg{width:100%;height:auto;background:url(/images/corp_top_bg.gif) repeat-x;}
#corptop{width:1220px;height:100px;margin:0 auto;background:url(/images/corp_top_bg.gif) repeat-x;overflow:hidden;}
	#corptop #corptopnotes{float:left;width:1220px;height:64px;}
	#corptop #corptopnotes #top_left{float:left;display:inline;padding-bottom:4px;padding-top:5px;}
	#corptop #corptopnotes #top_left em{float:left;margin:0;padding:0;font-size:42px;font-style:normal;line-height:50px;font-weight:normal!important;font-weight:bold;}
	#corptop #corptopnotes #top_left em a{color:#fff;}
	#corptop #corptopnotes #top_left label{float:left;margin-left:8px;margin-top:2px!important;margin-top:0;line-height:22px;}
	#corptop #corptopnotes #top_left label a{font-size:18px;color:#ddd;}
	#corptop #corptopnotes #top_left label span{font-size:14px;color:#f90;}
	#corptop #corptopnotes #top_left label .chuspan{padding:3px 6px;margin-right:2px;font-family: "微软雅黑","宋体",Verdana;font-size:12px;color:#666;background:#E6CFCF;}
	#corptop #corptopnotes #top_left label .gaospan{padding:3px 6px;margin-right:2px;font-family: "微软雅黑","宋体",Verdana;font-size:12px;color:#820F0E;background:#FF0;}
	#corptop #corptopnotes #top_right{float:right;display:inline;margin-top:8px;color:#ddd;text-align:right;}
	#corptop #corptopnotes #top_right h2{font-family: "Verdana";font-weight:normal;margin:0;padding:0;font-size:16px;}
	#corptop #corptopnotes #top_right h2 a{margin-left:5px;}
	#corptop #corptopnotes #top_right label{font-size:15px;line-height:25px;}
	#corptop h1{float:left;margin:0;height:36px;padding:0;font-size:16px;line-height:17px;width:1220px;}
		#corptop h1 dl{float:left;margin:0;padding:0;margin-right:1px;height:36px;}
			#corptop h1 dd{float:left;margin:0;padding:10px 10px 9px;margin-right:1px;background:#fff;height:16px;filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;}
			#corptop h1 dd:hover{filter:alpha(opacity=90);-moz-opacity:0.9;opacity: 0.9;}
			#corptop h1 .classselect{background:#fff;height:17px;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
			#corptop h1 .classselect:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
				#corptop h1 .classselect a{color:#B92E08;}
				#corptop h1 dd a{color:#333;}
				#corptop h1 dd select{margin:-4px -2px 0;font-weight:bold;font-size:14px;font-family: "微软雅黑","宋体",Verdana;}
#newsmessage{margin:15px auto 0px;background:#FDF0F0;width:1100px;padding:6px;font-size:13px;line-height:24px;border:1px solid #F7CECE;border-top-width:2px;}
#newsmessage span{margin-right:20px;color:#7E7878;display:inline;}
#newsmessage a{margin-right:20px;color:#fff;display:inline;padding:0 5px;background:#D80000;}
#productinfo{width:1220px;margin:0 auto;padding-bottom:10px;background:#fff;overflow:hidden;}
#productinfo #pinfoleft{float:left;width:210px;}
#productinfo #pinfoleft .products{float:left;list-style:none;width:198px;border:1px solid #E8E8E8;background:#fff;margin:0;margin-left:10px;display:inline;margin-top:10px;padding:0;padding-bottom:10px;}
#productinfo #pinfoleft .products li{float:left;display:inline;width:198px;height:270px;margin:0;padding-bottom:10px;background:#fff;overflow:hidden;}
	#productinfo #pinfoleft .products li img{border:none;}
	#productinfo #pinfoleft .products li span{float:left;width:160px;height:160px;padding:14px;padding-right:4px;margin:5px;text-align:center;}
	#productinfo #pinfoleft .products li table{background:#fff;width:160px;height:160px;}
	#productinfo #pinfoleft .products li strong{float:left;font-size:12px;font-weight:normal;color:#333;width:160px;margin:0 10px;margin-right:9px;height:20px;line-height:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
	#productinfo #pinfoleft .products li label{float:left;font-size:18px;font-family:Georgia;font-weight:bold;color:#080;margin:5px 10px;margin-right:9px;width:160px;}
	#productinfo #pinfoleft .products li code{float:left;font-size:15px;font-family: "微软雅黑","宋体",Verdana;font-weight:bold;color:#080;margin:5px 10px;margin-right:9px;width:160px;}
	#productinfo #pinfoleft .products li em{float:left;width:178px;margin:0px 10px;font-style:normal;font-size:12px;color:#666;font-weight:normal;}
	#productinfo #pinfoleft .products .ph1{width:180px;border-bottom:1px solid #e8e8e8;height:auto;font-size:16px;font-weight:bold;padding:13px 9px 7px;}
	#productinfo #pinfoleft .products .recomm{color:#ff0000;}
	#productinfo #pinfoleft .products .recomm a{color:#ff0000;}
#productinfo #pinfobody{float:left;width:790px;margin-top:10px;}
	#basicinfo{margin:0;padding:0;overflow:hidden;}
	#basicinfo #propic{float:left;width:310px;margin:0 10px;display:inline;table-layout:fixed;}
	#basicinfo #propic #picbox{float:left;text-align:center;width:310px;height:310px;padding:2px;background:#fff;border:1px solid #CCCCCC;overflow:hidden;position:relative;}
	#basicinfo #propic #picbox div{height:312px;}
	#basicinfo #propic #picbox .cloud-zoom img{max-width:310px;max-height:310px;_height:310px;_width:310px;vertical-align:middle;}
	#basicinfo #propic #smallimg{border:none;height:auto;text-align:left;padding:0;}
	#basicinfo #propic #smallimg a{float:left;width:50px;height:50px;padding:1px;border:1px solid #ddd;margin-right:8px;margin-top:6px;display:table-cell;vertical-align:middle;text-align:center;}
	#basicinfo #propic #smallimg a img{max-width:50px;max-height:50px;_height:50px;_width:50px;vertical-align:middle;}
	#basicitem {float:left;width:450px;}
	*html #basicitem{margin-left:-5px;}
	#basicitem ul{float:left;width:450px;margin:0;padding:0;list-style-type:none;border-bottom:1px solid #E60000;overflow:hidden;}
	#basicitem ul li{float:left;width:92px;height:23px!important;height:22px;border:1px solid #FCE5E5;border-bottom:none;text-align:center;padding-top:6px!important;padding-top:5px;font-size:15px!important;font-size:14px;margin-right:1px;background:#FCE5E5;}
	#basicitem ul li a{color:#AA1300;}
	#basicitem ul .plselect{font-weight:bold;background:#E60000;height:23px!important;height:22px;border-color:#E60000;padding-top:6px!important;padding-top:5px;}
	#basicitem ul .plselect a{color:#fff;}
	#biinfo{float:left;margin:0;padding:0;padding-top:2px;width:448px;height:auto;border:1px solid #ccc;border-top:none;}
	#biinfo h5{float:left;width:428px;margin:0;padding:7px;padding:10px;font-size:16px;line-height:17px;border-bottom:1px solid #CCCCCC;}
	#biinfo h5 span{float:left;margin-top:2px;}
	#biinfo h5 em{float:left;background:#1FA5E8;font-size:14px;font-style:normal;padding:2px 4px 3px;color:#fff;margin-left:7px;}
	#biinfo dl{float:left;display:inline;width:420px;margin:0;margin-left:15px;padding:0;font-size:12px;color:#000;}
	#biinfo dt{float:left;width:406px;margin:0;padding:6px;padding-top:1px;}
	#biinfo dt span{float:left;margin-top:15px;}
	#biinfo dt strong{margin:0 4px;font-size:14px;color:#AD2606;}
	#biinfo dt em{float:left;font-size:35px;font-family: "Verdana","微软雅黑","宋体";line-height:35px;font-weight:bold;font-style:normal;color:#AD2606;}
	#biinfo dt label{float:left;background:#333;font-size:14px;color:#fff;padding:3px 6px 6px;margin-top:7px;margin-left:5px;}
	#biinfo dd{float:left;width:406px;margin:0;padding:8px 6px;border-top:1px dotted #ccc;}
	#biinfo dd strong{margin:0 3px;}
	#biinfo dd a{margin-right:6px;}
	#biinfo dd .pbtn_bg{float:left;width:99px;height:31px;margin:0;padding-top:11px;font-size:14px;line-height:18px;font-weight:bold;text-align:center;color:#fff;background:url(/images/product_btn_bg.jpg) no-repeat;}
	#biinfo dd .pbtn_bg_over{float:left;width:99px;height:31px;margin:0;padding-top:11px;font-size:14px;line-height:18px;font-weight:bold;text-align:center;color:#fff;background:url(/images/product_btn_bg_over.jpg) no-repeat;}
	#getproduct{border:1px solid #ccc;height:auto;border-top:none;color:#333;padding:5px;padding-left:20px;padding-top:7px;font-size:12px;overflow:hidden;}
	#getproduct h6{font-size:16px;color:#000;margin:6px 0;padding:0;}
	#getproduct p{margin:0;line-height:14px;margin-left:5px;padding:4px;}
	#getproduct a{margin:0 5px;}
	#getproduct #notes{margin-top:6px;font-size:16px;font-weight:bold;color:#f00;}
	#reviewproduct{border:1px solid #ccc;height:auto;border-top:none;color:#333;padding:5px;padding-left:20px;padding-top:7px;font-size:12px;overflow:hidden;}
	#reviewproduct h7{float:left;color:#f00;width:411px;margin-bottom:10px;}
	#reviewproduct p{float:left;margin:0;padding:5px;width:401px;background:#E8E8E8;}
	#reviewproduct p label{float:left;width:70px;text-align:right;}
	#reviewproduct p span{float:left;width:auto;}
	#reviewproduct p textarea{width:316px;height:90px;}
	#moreinfo{float:left;display:inline;width:770px;margin-left:10px;margin-top:10px;padding:0;}
	#moreinfo h5{margin:0;padding:0;height:30px;border-bottom:1px solid #E60000;}
	#moreinfo h5 .milink{float:left;margin-right:1px;width:114px;height:24px;padding-top:6px;text-align:center;font-size:14px;font-weight:bold;color:#fff;background:#FCE5E5;color:#AA1300;}
	#moreinfo h5 .miselect{float:left;margin-right:1px;width:114px;height:24px;padding-top:6px;text-align:center;font-size:14px;font-weight:bold;color:#fff;background:#E60000;}
	#moreinfo h5 a:hover{background:#FACCCC;}
	#moreinfo h5 .miselect:hover{color:#fff;background:#E60000;}
	#productmemo{float:left;display:inline;width:770px;padding:0;padding-top:10px;line-height:18px;font-size:14px;font-family:"微软雅黑","宋体";overflow:hidden;}
	#productmemo img{margin:15px 0}
	#downlist{float:left;display:inline;width:770px;margin-left:10px;margin-top:10px;padding:0;}
	.cloud-zoom-lens {border: 1px solid #e0e0e0;margin:0;background-color:#fff;cursor:move;}
	.cloud-zoom-big {border:1px solid #bbb;overflow:hidden;}
	#propsul{width:770px;margin:0;list-style:none;padding:5px 0;background:#F6F6F6;overflow:hidden;font-size:14px;}
	#propsul li{float:left;width:246px;padding:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#productinfo #pinforight{float:left;width:220px;}
	#productinfo #pinforight #newslist{float:left;list-style:none;width:208px;border:1px solid #E8E8E8;background:#fff;margin:0;margin-top:10px;padding:0;}
	#productinfo #pinforight #newslist li{float:left;width:198px;margin:0;font-size:12px;line-height:20px;padding:5px;padding-bottom:10px;background:#fff;overflow:hidden;}
	#productinfo #pinforight #newslist li span{color:#999;}
	#productinfo #pinforight #newslist .ph2{width:190px;border-bottom:1px solid #e8e8e8;height:auto;font-size:16px;font-weight:bold;padding:13px 9px 7px;}
#sitebody_bottom{margin:1px auto 10px;width:1220px;padding-top:8px;background:#fff;overflow:hidden;}
	#sitebody_bottom #sb_left {float:left;display:inline;margin:8px 0 6px;margin-left:15px;}
	#sitebody_bottom #sb_left h3{margin:0;padding:0;font-size:16px;}
	#sitebody_bottom #sb_left h3 span{font-weight:normal;font-family: "Verdana";}
	#sitebody_bottom #sb_left p{margin:5px 0;padding:0;line-height:19px;font-size:14px;color:#888;}
	#sitebody_bottom #sb_right{float:right;display:inline;margin-right:18px;margin-top:15px;}
	.dlh5{margin:0;padding:0;height:30px;border-bottom:1px solid #E60000;}
	.dlh5 a{float:left;width:114px;height:24px;margin-right:1px;padding-top:6px;text-align:center;font-size:14px;font-weight:bold;color:#E60000;background:#FCE5E5;}
	.dlh5 .dlselect{color:#FFF;background:#E60000;}
	.dlh6{margin:0;margin-top:1px;margin-bottom:1px;padding:8px;font-size:15px;color:#666;background:#F3E0DD;}
	.dlul{margin:0;padding:0;list-style-type:none;overflow:hidden;}
	.dlul li{margin:0;margin-bottom:1px;padding:0;font-weight:normal;overflow:hidden;padding:6px;background:#FBF3F2;}
	.dlul li label{float:left;width:220px;font-size:14px;font-style:normal;padding-left:5px;margin-right:5px;border-right:1px solid #fff;}
	.dlul li em{float:left;width:178px;font-size:14px;font-style:normal;padding-left:5px;margin-right:5px;border-right:1px solid #fff;}
	.dlul li span{float:left;font-size:14px;font-style:normal;padding-left:5px;}
	.dlul #dltitle{font-weight:bold;background:#FAE8E5;}
#islink {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0;
    width: 770px;
}
#islink ul {
    border-bottom: 1px solid #DDDDDD;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#islink ul li {
    display: inline;
    float: left;
    height: 270px;
    margin: 0 0 0 2px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 190px;
}
#islink ul li img {
    border: medium none;
}
#islink ul li span {
    float: left;
    height: 160px;
    margin: 5px;
    padding: 14px 4px 14px 14px;
    text-align: center;
    width: 160px;
}
#islink ul li table {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 160px;
    width: 160px;
}
#islink ul li strong {
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    line-height: 16px;
    margin: 0 9px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
#islink ul li label {
    color: #008800;
    float: left;
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 9px 5px 10px;
    width: 160px;
}
#islink ul li code {
    color: #008800;
    float: left;
    font-family: "微软雅黑","宋体";
    font-size: 15px;
    font-weight: bold;
    margin: 5px 9px 5px 10px;
    width: 160px;
}
#islink ul li em {
    color: #666666;
    float: left;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0 10px;
    width: 178px;
}
#islink ul .recomm {
    color: #FF0000;
}
#islink ul .recomm a {
    color: #FF0000;
}