/* publisc */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  background: #f5f5f5 url(/images/supplier/bg.jpg) repeat-x;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,img {
  border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal
}

ol,ul {
  list-style: none
}

caption,th {
  text-align: left
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%
}

q:before,q:after {
  content: ''
}

a {
  text-decoration: none;
}
/*layout*/
.block {
  display: block
}

.hidden {
  display: none
}

.clear {
  clear: both !important
}

/* font */
.f12 {
  font-size: 12px !important
}

.f14 {
  font-size: 14px !important
}

.fy12 {
  font-size: 12px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.fy14 {
  font-size: 14px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.fy16 {
  font-size: 16px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.fy18 {
  font-size: 18px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.fy30 {
  font-size: 30px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.bold {
  font-weight: bold
}

.normal {
  font-weight: normal
}

.font_none {
  font-size: 0px;
  line-height: 0px
}

.2c2c2c {
  color: #2c2c2c;
}

.6a6a6a {
  color: #6a6a6a;
}

.float_r {
  float: right;
}

/* top */
.t1 {
  width: 1195px;
  height: 37px;
  margin: 0 auto;
  line-height: 37px;
  text-align: right;
}

.clientmsg {
  width: 100%;
  border: 1px solid #bbbbbb;
  border-top: 0px;
  clear: left;
  background: #F5F5F5;
  position: relative;
  z-index: 4;
}

.clientdet {
  display: block;
  text-align: left;
  padding-left: 10px;
}

.clientdet:hover {
  background: white;
  color: #ff6000;
}

.t1 a {
  color: #2c2c2c;
  text-decoration: none;
}

.t1 a:hover {
  color: #2c2c2c;
  text-decoration: underline;
}

.t1 a:visted {
  color: #2c2c2c;
  text-decoration: none;
}

.t2 {
  width: 100%;
  height: 67px;
  margin: 0 auto;
  background: #2c2c2c;
  overflow: hidden;
}

.t2 ul {
  width: 1195px;
  margin: 0 auto;
}

.t2 li {
  width: auto;
  height: 67px;
  line-height: 74px;
  float: left;
  color: #FFF;
  border-right: 1px #565656 solid;
  padding: 0 22px;
}

.t2 a {
  color: #FFF;
  text-decoration: none;
}

.t2 a:hover {
  color: #FFF;
  text-decoration: none;
}

.t2 a:visted {
  color: #FFF;
  text-decoration: none;
}

.t2 .login a {
  color: #FFF;
  text-decoration: none;
}

.t2 .login a:hover {
  color: #ff7e00;
  text-decoration: underline;
}

.t2 .login a:visted {
  color: #ff7e00;
  text-decoration: none;
}

.t3 {
  width: 1195px;
  height: 41px;
  line-height: 41px;
  margin: 5px auto 19px auto;
}

.t3 li {
  width: auto;
  height: 41px;
  line-height: 41px;
  float: left;
  padding-left: 14px;
  float: left;
}

.t3 a {
  color: #6a6a6a;
  text-decoration: none;
}

.t3 a:hover {
  color: #ff7e00;
  text-decoration: underline;
}

.t3 a:visted {
  color: #6a6a6a;
  text-decoration: none;
}

.t3 .hotkey {
  border-bottom: 1px solid #d3d3d3;
  width: 820px;
  height: 41px;
  overflow: hidden;
  float: left;
  font-size: 15px;
}

.t3 .flyd {
  border-bottom: 1px solid #d3d3d3;
  width: 375px;
  height: 41px;
  overflow: hidden;
  float: left;
  font-size: 15px;
  text-align: right;
}

.t4 {
  width: 1195px;
  height: 75px;
  overflow: hidden;
  margin: 0 auto;
}

.t4 img {
  height: 100%;
  width: 100%;
}

.t5 {
  width: 1195px;
  height: 42px;
  margin: 20px auto 0 auto;
}

.t5 li {
  width: auto;
  height: 39px;
  line-height: 39px;
  float: left;
  margin-right: 38px;
}

.t5 a {
  color: #6a6a6a;
  text-decoration: none;
}

.t5 a:hover {
  color: #ff6000;
  text-decoration: none;
}

.t5 a:visted {
  color: #6a6a6a;
  text-decoration: none;
}

.t5 .active {
  border-bottom: 3px #ff6000 solid;
  background: url(/images/supplier/icon01.jpg) no-repeat;
  padding-left: 16px;
  background-position: 1px 13px;
  color: #ff6000;
}

.search {
  width: 250px;
  height: 30px;
  border: 2px solid #ff6000;
  border-radius: 5px;
  float: right;
  background: #ff6000;
}

.t5 .search_bg {
  width: 190px;
  position: absolute;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 0px;
  color: #a5a5a5;
  font-size: 14px !important;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
  line-height: 30px;
}

.t5 .search_btu {
  position: absolute;
  font-size: 15px;
  border: 0px;
  width: 52px;
  height: 30px;
  border: none;
  padding: 0;
  background: transparent;
  color: white;
  line-height: 30px;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.t5 .suggestion {
  margin-top: 34px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.t5 .recom {
  font-family: arial;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  color: #909090;
}

.t5 .recom:hover {
  background: #E8E8E8;
  color: #ff6000;
}

/* list */
.attrback {
  padding-top: 13px;
  background: #F5F5F5;
  border-top: 3px solid #eeeeee;
}

.Attribute {
  width: 1195px;
  height: auto;
  margin: auto;
  border-top: 3px solid #ff6000;
}

.rank {
  border: 1px solid #ff6000;
  border-top: 0px;
  height: 30px;
  background: white;
}

.rankall {
  font-size: 13px;
  line-height: 30px;
  border-right: 1px solid #d3d3d3;
  padding: 0px 10px 0px 10px;
  float: left;
  height: 30px;
}

.rankall:hover {
  color: white !important;
  background-color: #ff6000 !important;
}

.rankdet {
  font-size: 13px;
  line-height: 30px;
  border-right: 1px solid #d3d3d3;
  padding: 0px 10px 0px 10px;
  float: left;
  height: 30px;
  color: black;
  /* background-image: url(/images/supplier/attr_rank_02.png); background-repeat: no-repeat; background-position: right center;*/
}

.rankdet:hover {
  background-color: #ff6000 !important;
  color: #ffffff !important; /*background-image: url(/images/supplier/attr_rank_03.png)!important;*/
}

.rank_01 {
  border: 1px solid #d3d3d3;
  border-top: 0px;
  height: 30px;
  background: white;
}

.ranklet {
  font-family: arial;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 10px 0px 10px;
  float: left;
  height: 30px;
  color: black;
  background-color: white;
}

.ranklet:hover {
  color: white !important;
  background-color: #ff6000 !important;
}

/*l1*/
.l1 {
  width: 1195px;
  height: auto;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.allstore {
  width: 930px;
  height: auto;
  float: left;
}

.store {
  width: 100%;
  background: white;
  padding-top: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.storegrade {
  padding: 20px;
  width: 60px;
  float: left;
}

.storegrade p {
  font-size: 13px;
  text-align: center;
}

.storegrade img {
  margin: 0px;
  float: left
}

.message {
  float: left;
  padding: 10px;
  width: 500px;
}

.storename {
  color: #B00000;
  margin-right: 20px;
  font-size: 30px;
  float: left;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.storename_b {
  color: #000000;
  margin-right: 20px;
  font-size: 30px;
  float: left;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.appr {
  display: block;
  margin-right: 5px;
  float: left;
  line-height: 22px;
  padding: 0px 3px 1px;
  margin-top: 9px;
  color: white;
  font-size: 16px;
  font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
}

.orange {
  background: #ff6000;
}

.green {
  background: #009933;
}

.sto_01 {
  clear: left;
  height: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0px;
}

.logo_instore {
  font-family: arial;
  margin-right: 5px;
  float: left;
  font-size: 13px;
  color: white;
  background: #FF9900;
  display: block;
  border-radius: 2px;
  padding: 0px 3px;
}

.webaddr {
  color: #0099FF;
  font-size: 13px;
}

.detmsg {
  color: #6a6a6a;
  font-size: 13px;
  line-height: 29px;
  height: 30px;
  width: 50%;
  float: left;
}

.detaddr {
  color: #6a6a6a;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 30px;
  float: left;
}

.store_qq {
  float: right;
  display: block;
  height: 30px;
  width: 90px;
  background-size: 100% 100%;
  margin-right: 10px;
}

.detmsg .number {
  color: #FF9900;
  font-family: tahoma;
  line-height: 29px;
}

.productimg {
  float: right;
  width: 270px;
  padding-right: 10px;
}

.picture {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px 10px 0px 0px;
}

.more {
  font-size: 13px;
  box-sizing: border-box;
  background: #B8B8B8;
  color: white !important;
  padding: 25px 12px;
}

.more:hover {
  background: #ff6000;
}

.searchtip {
  width: 926px;
  height: 16px;
  text-align: center;
  padding: 40px 0px;
  color: #FF9900;
  background: #FFfafa;
  border: 2px solid #FF9900;
}

.sponsor {
  width: 255px;
  float: right;
  color: #6a6a6a;
}

.spoadv {
  display: block;
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* changge page */
.changepage {
  clear: left;
  width: 1195px;
  height: 30px;
  padding: 10px 0px;
  margin: 20px auto 0px;
}

.pagebut {
  text-decoration: none;
  background: white;
  margin: 0px 3px;
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
  float: left;
  border: 1px solid #C8C8C8;
  color: #909090;
}

.pagebut:hover {
  border: 1px solid #FF6600;
  color: #FF6600;
}

.pageon {
  text-decoration: none;
  color: white;
  background: #FF6600;
  border: 1px solid #FF6600;
  margin: 0px 3px;
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
  float: left;
  border: 1px solid #C8C8C8;
}

.pagenum {
  color: black;
  text-decoration: none;
  background: white;
  margin: 0px 3px;
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
  float: left;
  border: 1px solid #C8C8C8;
}

.pagenum:visited {
  color: black;
}

.pagenum:hover {
  border: 1px solid #FF6600;
  color: #FF6600;
}

.changepage p {
  height: 30px;
  line-height: 30px;
  float: left;
}

.jumppage {
  float: left;
}

.page {
  text-align: center;
  width: 40px;
  height: 28px;
  line-height: 28px;
  background: white;
  border: 1px solid #C8C8C8;
  font-size: 16px;
}

.sure {
  padding: 0px 5px;
  font-size: 16px;
  width: 50px;
  height: 30px;
  line-height: 28px;
  background: white;
  border: 1px solid #C8C8C8;
}

/* Footer */
.footer {
  width: 100%;
  height: 170px;
  padding: 15px 0px;
  margin-top: 30px;
  background: #616161;
}

.footer_b {
  width: 1195px;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
}

.footer_b_l {
  width: 760px;
  height: 170px;
  border-right: 1px #FFF solid;
  overflow: hidden;
  float: left;
}

.footer_b_l_list {
  width: 122px;
  height: 170px;
  margin: 0 15px;
  float: left;
  color: #d4d4d4;
}

.footer_b_l_list li {
  width: 122px;
  height: 34px;
  line-height: 34px;
}

.footer_b_l_list a {
  color: #d4d4d4;
  text-decoration: none;
}

.footer_b_l_list a:hover {
  color: #fff;
  text-decoration: none;
}

.footer_b_l_list a:visted {
  color: #d4d4d4;
  text-decoration: none;
}

.footer_b_r {
  width: 354px;
  height: 148px;
  padding: 11px 40px;
  float: left;
}

.footer_b_r_p {
  width: 120px;
  height: 120px;
  float: left;
}

.footer_b_r_phone {
  width: 219px;
  height: 120px;
  margin-left: 15px;
  float: left;
}

.footer_b_r_phone li {
  width: 234px;
  height: 24px;
  color: #d4d4d4;
}

.bottom {
  width: 100%;
  height: 60px;
  margin: 0px auto;
  padding: 10px 0px;
  background: #FFF;
}

.bottom li {
  width: 1195px;
  color: #6a6a6a;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
}

.bottom a {
  color: #6a6a6a;
  text-decoration: none;
}

.bottom a:hover {
  color: #6a6a6a;
  text-decoration: underline;
}

.bottom a:visted {
  color: #6a6a6a;
  text-decoration: none;
}

#vl {
  display: block;
  top: 0px !important;
  left: 0px;
  width: 190px;
  position: absolute;
  z-index: 5;
}

.suginner {
  width: 100%;
  position: absolute;
}

.suglist {
  list-style-type: none;
  width: 100%;
  background: #F8F8F8;
  overflow: hidden;
  color: #909090;
  padding: 0px;
}

.suglist li {
  font-family: arial;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
}

.suglist li:hover {
  background: #E8E8E8;
  color: #ff6000;
}

#sugc {
  display: none;
}