@charset "utf-8";
.com-title{color: #999;line-height: 33px;background-color: #F3E0DD;padding-left: 10px;border-bottom: 1px solid #fff;}
.tab-head{overflow: hidden;}
.tab-head label{display: block;float: left;line-height: 29px;background-color: #FAE8E5;text-align: center;font-size: 16px;font-weight: bold;border-right: 1px solid #fff;}
.pro-serial{width: 45px;}
.pro-msg{width: 620px;}
.pro-price{width: 152px;border-right: 0!important;}
.one-msg{background-color: #FBF3F2;overflow: hidden;border-top: 1px solid #fff;}
.serial{width: 45px;height: 100px;line-height: 30px;text-align: center;float: left;border-right: 1px solid #fff;}
.pro-link{display: block;width: 80px;height: 80px;float: left;padding: 10px;}
.pro-info{float: left;height: 100px;width: 520px;border-right: 1px solid #fff;}
.pro-info dt{line-height: 30px;padding: 5px 0 0;}
.pro-info dd{line-height: 20px;color: #666;}
.number-link{color: #0066CC;margin-right: 40px;}

.prices{width: 152px;text-align: center;color: #080;font-family: Georgia;float: left;line-height: 30px;}


