@charset "utf-8";
/*搜索框*/
#search-div{padding: 6px 8px;line-height: 24px;background-color: #FCF2F1;overflow: hidden;}
.fast-rank{display: block;padding: 0 5px;color: #20638E;font-size: 14px;margin-right: 8px;float: left;}
.rank-active{color: #fff;background-color: #D30000;}
.opened{background-color: #ff0000;}
.search-boxs{height: 24px;padding: 3px 8px;line-height:24px;}
.search-num{width: 154px;height: 22px;border: 1px solid #999;}
.search-btns{height: 24px;width: 50px;margin-left: 15px;color: #fff;background-color: #ff6c00;cursor: pointer;}
.keywords{line-height: 20px;padding: 0 8px;}
.keywords a{margin-right: 5px;color: #333;}
/*产品列表*/
.list{}
.tab-head{height: 37px;line-height: 37px;background-color: #F3E0DD;overflow:hidden;}
.tab-head span{display: block;text-align: center;float: left;font-size: 14px;color: rgb(144, 139, 138);font-weight: bold;}
.pro-total{width: 400px;border-right: 1px solid #fff;}
.pro-price{width: 80px;border-right: 1px solid #fff;}
.pro-spend{width: 80px;border-right: 1px solid #fff;}
.pro-upload{width: 80px;}
.liwist{border: 1px solid #D8AFAF;margin-top: 5px;overflow: hidden;background-color: #FBF3F2;}
.liwist:hover{border-color: #ff6c00;}
.img-link{display: block;width: 80px;height: 80px;padding: 10px;float: left;border-right: 1px solid #fff;}
.pro-msg{width: 716px;float: left;}
.msg-show{height: 59px;border-bottom: 1px solid #fff;}
.pro-show{width: 298px;border-right: 1px solid #fff;height: 100%;float: left;}
.pro-num{height: 30px;line-height: 30px;padding: 0 5px;}
.pro-num em{color: #0066CC;}
.goods_id{display: none;}
.pro-moods{color: #908B8A;line-height: 25px;}

.price-show{display: block;float: left;width: 80px;border-right: 1px solid #fff;line-height: 59px;color: #008800;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.price-spend{display: block;float: left;width: 80px;border-right: 1px solid #fff;height: 59px;line-height: 59px;color: red;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.time-msg{padding: 10px;float: left;}
.time-msg p{line-height: 20px;color: #333;}







