@charset "utf-8";
.pro-title{line-height: 40px;}
.pro-title em {margin-left: 5px;}
.pro-con{width: 600px;height: 200px;border: 1px solid #999;line-height: 20px;}
.sub-btn{margin-top: 15px;width: 150px;height: 30px;color: #fff;background-color: #ff6c00;line-height: 30px;text-align: center;cursor: pointer;}

