@charset "utf-8";
/*二级导航*/
body{background-color: #f5f5f5;}
.content{width: 1010px;background-color: #fff;}
.sub-nav{height: 36px;padding: 10px 0 0 10px;border-bottom: 1px solid #ff6c00;margin-bottom: 15px;}
.sub-link{display: block;float: left;height: 36px;line-height: 36px;padding: 0 10px;color: #333;font-size: 17px;font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei";font-weight: bold;background-color: #F6F6F6;}
.sub-link-active{color: #ff6c00;border: 1px solid #ff6c00;border-bottom: 0;}
/*左侧导航*/
.left-menu{width: 170px;border-right: 1px solid #C0C0C0;float: left;}
.left-link{display: block;padding: 0 10px;margin: 0 10px 10px;color: #300000;line-height: 42px;font-size: 17px;font-family: "微软雅黑","宋体",Verdana;font-weight: bold;background-color: #FAE0E0;text-align: right;}
.left-link-active{color:#fff;background-color: #ff6c00;line-height: 72px;background-color: #D30000;}
.left-qq{padding: 0 10px;margin: 0 10px 10px;line-height: 42px;font-size: 17px;font-family: "微软雅黑","宋体",Verdana;font-weight: bold;background-color: #FAE0E0;text-align: right;}
.left-qq .s_chat{display: inline-block;vertical-align: middle;width: 77px;height: 22px;background-image: url("/img/Icon-sprites.png");background-repeat: no-repeat;background-position: -40px 0;cursor: pointer;}
/*右侧内容*/
.right-con{width: 819px;float: left;padding: 0 10px 20px;}










