@charset "utf-8";
body{
	background:#f5f5f5!important;
}

p{
	word-break: break-all;
}

#container{
	position:relative;
	margin:20px auto;
	padding-right:40px;
}

.box{
	opacity:0;
	float:left;

}

.clear{
	clear:both;
}

.pic{
	width:226px;
	margin:0 12px 15px 0;
	border:1px solid #e1e1e1;
	background-color:white;
	word-break: break-all;
}

.props{
	padding-bottom: 70px;
}

.pic .img{
	max-width:100%;
	display: block;
	background-image: url(http://www.go2.cn/images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#float_screen {
	width: 100%;height: 40px;background-color: #ff7e00;position: fixed;top: 0;z-index: 999;display: none;
}
#float_container {
	width: 1195px;margin: 0 auto;height: 40px;
}
.float_title {
	display: block;height: 40px;float: left;line-height: 40px;color: white;font-size: 14px;
	background-color: transparent;outline: none;padding: 0 15px;position: relative;
}
.float_title:hover {
	background-color: #FF5b00;
}
.float_title span {
	float: left;
}
.arrows {
	display: block;margin-top: 17px;float: right;margin-left: 5px;}
.select_det {
	position: absolute;top: 40px;left: 0;width: 100%;border:1px solid #FF5b00;
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;display: none;
}
.select_content {
	width: 100%;display: block;outline: none;height: 40px;line-height: 40px;font-size: 14px;color: #ff7e00;
	background-color: white;text-align: center;cursor: pointer;
}
.select_content:hover {
	color: white;background-color: #FF5b00;
}
#zhuantihui_in {
	float: right;display: block;margin: 4px 20px 4px 0;height: 32px;width: 129px;
}
#zhuanti_link {
	display: block;width: 1195px;height: 75px;margin: 27px auto 0;
}
#zhuantihui_int {
	width: 1195px;height: 75px;
}
#order {
	width: 1195px;margin: 31px auto 0;height: 27px;color: #646464;
}
.rank_title {
	font-size: 16px;float: left;line-height: 27px;
}
.det_message {
	border: 1px solid #e1e1e1;line-height: 25px;text-align: center;padding: 0 10px;font-size: 14px;display: block;float: left;cursor: pointer;
}
.det_message:hover {
	border-color: #ff7e00;z-index: 999;
}
.det_price {
	border: 1px solid #e1e1e1;line-height: 25px;text-align: center;padding: 0 10px;font-size: 14px;display: block;float: left;cursor: pointer;font-family: arial;
}
.det_price:hover {
	border-color: #ff7e00;z-index: 999;
}
.clicked {
	background-color: #ff7e00;color: white;border-color: #ff7e00;border-radius:2px;
}
#condition {
	display: block;font-size: 14px;line-height: 27px;margin-left: 20px;color: #646464;float: left;
}
#kinddisplay {
	display: none;}
#popdisplay {display: none;
}
.choose_con {
	display: block;font-size: 14px;line-height: 21px;color: white;background-color: #ff7e00;padding: 0 5px;float: left;margin-top: 3px;outline: none;
}
.closedx {
	cursor: pointer;
}
.margin_title {
	margin-left: 5px;padding-right: 0;
}
#loading_tips {
	width:100%;line-height:50px;height:50px;font-size:25px;font-weight:600;text-align:center;float:left;color:#F0F0F0;display:none;
}
#page_change {
	height:38px;margin:40px auto;text-align: center;
}
.page_number {
	display:inline;border: 1px solid #e1e1e1;font-size: 14px;padding: 5px 8px;margin-left: 5px;outline: none;
	color: #414141;background-color: white;cursor: pointer;display:none;
}
.page_number:hover {
	color: #ff7e00;border-color: #ff7e00;
}
.choosed_page {
	color: white;border-color: #ff7e00;background-color: #ff7e00;
}
#tips_02 {
	width: 36px;height: 100%; position: fixed;z-index: 999;right: 0;top: 0;background: #333333;
}
#zhuantihui {
	display: block;width: 79px;height: 347px;background-image: url(http://special.ximgs.net/special/22/zhuanti_total.png);
	position: absolute;left: -79px;top: 0;
}
#aside_01 {
	position: fixed;right: 0;top: 80px;
}
.aside_det {
	display: block;margin-top: 10px;width: 36px;height: 36px;background-repeat: no-repeat;
	background-position: center center;background-color: transparent;position: relative;
}
.aside_det:hover {
	background-color: rgb(255, 126, 0);
}
#usercenter {
	background-image: url(http://special.ximgs.net/special/20/user_center_o.png);
}
#usercenter:hover {
	background-image: url(http://special.ximgs.net/special/20/user_center_w.png);
}
#usercenter p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;
	color: white;font-size: 14px;width: 80px;text-align: center;
}
#erweima {
	background-image: url(http://special.ximgs.net/special/20/erweima_o.png);
}
#erweima:hover {
	background-image: url(http://special.ximgs.net/special/20/erweima_w.png);
}
#erweima div {
	width: 146px;height: 180px;position: absolute;right: 36px;top: -42px;display: none;background: url(http://www.go2.cn/images/code_float_02.jpg);
}
#help_qrcode {
	display: block;width: 146px;height: 180px;
}
#phonenum {
	background-image: url(http://special.ximgs.net/special/20/phone_o.png);
}
#phonenum:hover {
	background-image: url(http://special.ximgs.net/special/20/phone_w.png);
}
#phonenum p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;
	color: white;font-size: 14px;width: 120px;text-align: center;
}
#qqservice {
	background-image: url(http://special.ximgs.net/special/20/qq_o.png);
}
#qqservice:hover {
	background-image: url(http://special.ximgs.net/special/20/qq_w.png);
}
#qqservice p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;
	color: white;font-size: 14px;width: 80px;text-align: center;
}
#ideas {
	background-image: url(http://special.ximgs.net/special/20/ideas_o.png);
}
#ideas:hover {
	background-image: url(http://special.ximgs.net/special/20/ideas_w.png);
}
#ideas p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;color: white;
	font-size: 14px;width: 80px;text-align: center;
}
#share {
	background-image: url(http://special.ximgs.net/special/20/share_o.png);width: 36px;height: 36px;
	background-repeat: no-repeat;background-position: center center;
}
#aside_02 {
	position: fixed;right: 0;bottom: 40px;
}
#backtotop {
	background-image: url(http://special.ximgs.net/special/20/back_to_top_o.png);
}
#backtotop:hover {
	background-image: url(http://special.ximgs.net/special/20/back_to_top_w.png);
}
#backtotop p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;
	color: white;font-size: 14px;width: 80px;text-align: center;
}
#backtoindex {
	background-image: url(http://special.ximgs.net/special/20/back_index_o.png);
}
#backtoindex:hover {
	background-image: url(http://special.ximgs.net/special/20/back_index_w.png);
}
#backtoindex p {
	display: none;position: absolute;right: 36px;height: 36px;line-height: 36px;background-color: #454545;
	color: white;font-size: 14px;width: 80px;text-align: center;
}
#footer_tail {
	position: relative;top: 30px;display: block;width: 100%;
}
.face{
	margin-left:10px;margin-top:10px;
}
hr{
	border:1px solid #e1e1e1;width:90%;margin-left:10px;margin-top:-10px;
}
.pro_price{
	background-color:#F0F0F0;height: 18px;line-height: 18px;padding:2px 5px;bottom: 0;
	right: 0;opacity: .8;font-size:14px;float:right;margin-top:-22px;
}
.pro_number{
	font-size: 14px;color: #646464;line-height: 35px;padding-left: 10px;
}
.content1{
	color:#999;position:relative;margin-left:60px;margin-right:5px;font-family:'Arial';
	font-size:80%;line-height:150%;margin-top:-5px;
}
.pro_props{
	font-size: 12px;line-height: 20px;padding: 0 10px 20px;color: #414141;
}
.name{
	position:absolute;font-family:'Arial';font-size:14px;opacity:0.5;margin-left:15px;margin-top:20px;font-weight:bold;
}
.comment{
	margin-bottom: 20px;
}
#kand_pop {
	width: 192px;height: 187px;padding: 17px;border:1px solid red;background:white;
}
.title_kindpop {
	font-size: 16px;color: #ff7e00;font-weight: 600;background-repeat: no-repeat;line-height: 30px;clear: both;margin-left:12px;margin-top:15px;
}
.title_kindpop img {
	display: block;float: left;position: relative;left: -5px;
}
.rank_click {
	font-size: 12px;color: #646464;display: block;line-height: 25px;float: left;margin-left: 15px;
}
.rank_click:hover {
	color: #ff7e00;cursor: pointer;
}
.pr_clicked{
	background-color: #ff7e00;color: white;border-color: #ff7e00;border-radius:2px;
}
.kind_click {
	color: #ff7e00;font-weight: 600;text-decoration: underline;
}
.pop_click {
	color: #ff7e00;font-weight: 600;text-decoration: underline;
}
.price{
	margin-left:20px;
}
#condition{
	font-size:16px;
	margin-left:0px;
}
.chose{
	height:25px;margin-top:10px;display:none;margin-left:auto;margin-right:auto;width:1195px;
}
.like{
	background:#ff7e00;font-size:13px;padding:5px 8px;color:#fff;border:1px solid #ff7e00;border-radius: 2px;margin-right:8px;
}
.like:hover{
	cursor:pointer;
}
.like img{
	position:relative;top:1px;margin-right:2px;
}
.down{
	float:right;font-family:'Arial';font-size:14px;opacity:0.5;'
}
.like_count{
	color:#f69;font-size:14px;
}
.characters{
	font-size:12px;padding:0 10px 20px;color:#414141;line-height:18px;
}

/*票漂浮快样式*/
#tips {position: fixed;z-index: 999;}
#tips a {display: block;width: 44px;height:42px;position: relative;border: 1px solid #B8B8B8;border-top: 0;}
#tips a img {width: 44px;height:42px;float: left;}
#firstlink {border-top: 1px solid #B8B8B8!important;}
#tips a span {display: none;position: absolute;width: 32px;height:30px;padding: 6px;font-size: 12px;right: 0;top: 0;color: white;background: #ff7e00;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei";text-align: center;}
#qr_code {width: 44px;height:42px;position: relative;border: 1px solid #B8B8B8;border-top: 0;}
#code_float {position: absolute;width: 146px;height: 180px;left: -147px;top: -44px;display: none;background-image: url(/images/code_float_02.jpg);}
#code_float a {display: block;width: 146px;height: 180px;border: 0!important;}
