@charset "utf-8";
h6{line-height: 33px;background-color: #F3E0DD;color: #666;font-size: 15px;padding-left: 10px;margin-bottom: 10px;}
#dltitle{line-height: 29px;font-weight: bold;background: #FAE8E5;margin-top: 1px;overflow: hidden;}
/*表头*/
.tab-title{border-right: 1px solid #fff;display: block;float: left;text-align: center;}
.num-title{width: 40px;}
.name-title{width: 110px;}
.phone-title{width: 110px;}
.qq-title{width: 110px;}
.addr-title{width: 260px;}
.number-title{width: 75px;}
.ope-title{width: 108px;border-right: 0!important;}
/*表内容*/
.one-con{line-height: 29px;background-color: #FAE8E5;margin-top: 1px;overflow: hidden;}
.tab-con{display: block;float: left;border-right: 1px solid #fff;text-align: center;}








