@charset "utf-8";
/*产品列表*/
.right-con h6{margin: 0;margin-bottom: 1px;padding: 8px;font-size: 15px;color: #666;background: #F3E0DD;}
.right-con ul{overflow: hidden}
.right-con .pro-ul li{font-size:14px;margin:0;margin-bottom:1px;height:auto!important;height:82px;font-weight:normal;overflow:hidden;padding:6px;background:#FBF3F2;}
.right-con .pro-ul li strong{float:left;width:40px;padding-left:2px;margin-right:2px;}
.right-con .pro-ul li label,.right-con li .mysapn{float:left;width:515px;padding-left:5px;margin-right:5px;overflow:hidden;}
.right-con .pro-ul li label div{float:left;width:80px;height:80px;text-align:center;border:1px solid #fff;overflow:hidden;}
.right-con .pro-ul li label div img{height:80px;}
.right-con .pro-ul li label dl{float:left;margin:0;margin-left:5px;padding:0;width:423px;}
.right-con .pro-ul li label dt{margin:0;padding:0;font-size:14px;font-weight:bold;}
.right-con .pro-ul li label dd{color:#666;overflow:hidden;text-overflow:ellipsis;font-size:12px;margin:3px;padding:0;}
.right-con .pro-ul li code{float:left;width:70px;font-family:"微软雅黑";padding-left:5px;margin-right:5px;border-left:1px solid #fff;}
.right-con .pro-ul li em{float:left;font-size:18px;font-family:Georgia;font-weight:bold;color:#080;width:55px;font-style:normal;padding-left:5px;margin-right:5px;border-left:1px solid #fff;}
.right-con .pro-ul li span{float:left;font-style:normal;padding-left:5px;border-left:1px solid #fff;}
.right-con #dltitle{font-size:16px;height:auto;font-weight:bold;background:#FAE8E5;}
.right-con #dltitle code{border:none;border-left:1px solid #fff;}
.right-con #dltitle em{font-size:16px;font-family:"微软雅黑";color:#000;}
.right-con .pagelist{margin:0;padding:6px;padding-right:1px;height:auto!important;height:23px;background:#FDF2F2;border:1px solid #F2F2F2;font-size:13px;list-style-type:none;overflow:hidden;width:810px; margin-top: 5px; float: left;}
.right-con .pagelist li{float:left;height:auto;font-weight:normal;overflow:hidden;margin-right:5px;padding:0;}
.right-con .pagelist li a{display:block;padding:3px 6px;}
.right-con .pagelist li a:hover,.pselect{background:#BF0000;color:#fff;}
.right-con .pro-ul li label b{font-size:14px;padding:4px;width:auto;color:#fff;background:#bf0000;}
.right-con .pro-ul li label strong{float:none;font-size:14px;padding:4px;width:auto;color:#fff;background:#000000;}