.stau1{
	color:#666;
        font-size: 12px;
}
.stau2{
	color:#000;
        font-size: 12px;
}
.stau3{
	color:#F00;
        font-size: 12px;
}
.stau4{
	color:#0C0;
        font-size: 12px;
	/*color:#1A4A88;*/
}
.stau5{
	color:#0C0;
        font-size: 12px;
        float:none !important;
	/*color:#1A4A88;*/
}
.stau6{
        font-size: 12px;
        float:none !important;
	/*color:#1A4A88;*/
}

